<div class="mt-8 mx-8">
  <!-- Tabla -->
  <div
    class="relative flex flex-col rounded-xl bg-white text-gray-700 shadow-xl overflow-hidden w-full"
  >
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <div
        class="overflow-y-auto max-h-96 w-full"
        style="max-height: calc(3rem * 12 + 2.5rem)"
      >
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto border-collapse border border-gray-300"
        >
          <!-- Encabezado de la tabla -->
          <thead class="sticky top-0 z-10 bg-gray-200 dark:bg-gray-800">
            <tr
              class="text-sm font-bold tracking-wide text-gray-600 uppercase dark:text-gray-400"
            >
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Proveedor
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Enero
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Febrero
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Marzo
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Abril
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">Mayo</th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Junio
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Julio
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Agosto
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Septiembre
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Octubre
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Noviembre
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Diciembre
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Merma Generada
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Material Total
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-300 dark:divide-gray-700">
            <tr
              class="hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors"
            >
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300 font-medium"
              >
                Proveedor A
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,000,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,050,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,020,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,030,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,040,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,080,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,100,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,120,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,150,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,200,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,300,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                1,400,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                15,000
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                20,000
              </td>
            </tr>
            <!-- Agregar más filas aquí -->
          </tbody>
          <tfoot>
            <tr
              class="bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-800 dark:text-gray-200 cursor-pointer transition-transform duration-200 transform hover:scale-102 origin-center hover:z-10"
            >
              <th
                scope="row"
                class="px-4 py-3 font-semibold text-gray-900 dark:text-white border border-gray-300"
              >
                Total
              </th>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300"></td>
              <td class="px-4 py-3 border border-gray-300">40,000</td>
              <td class="px-4 py-3 border border-gray-300">100,000</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap items-center justify-between mt-4">
    <div></div>
    <div>
      <button
        class="px-4 py-2 bg-blue-600 text-white text-sm font-semibold rounded-lg hover:bg-blue-500"
      >
        Descargar PDF
      </button>
    </div>
  </div>
</div>
