<div class="min-h-screen flex items-center justify-center">
  <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
    <div
      class="relative border-b border-white/20 py-6 px-8 flex flex-col items-center"
    >
      <!-- Imagen de perfil y título centrado -->
      <div class="flex flex-col items-center gap-4">
        <!-- Imagen de perfil -->
        <div
          class="w-16 h-16 rounded-full bg-white border-2 border-black flex justify-center items-center overflow-hidden"
        >
          <!-- SVG del símbolo de reciclaje -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="40"
            height="40"
            fill="green"
          >
            <path
              d="M7.726,3.043l.619-1a4.329,4.329,0,0,1,7.311,0l2.131,3.388,1.358-.927a1.5,1.5,0,0,1,2.32,1.515l-.736,3.943A2.005,2.005,0,0,1,18.767,11.6c-.13,0-4.3-.808-4.3-.808a1.5,1.5,0,0,1-.556-2.71l1.395-.953-2.2-3.493A1.3,1.3,0,0,0,10.9,3.625l-.621,1A1.5,1.5,0,1,1,7.726,3.043ZM23.353,14.462l-.578-.931a1.5,1.5,0,1,0-2.55,1.58l.578.932A1.292,1.292,0,0,1,19.7,18.012H15V16.5a1.5,1.5,0,0,0-2.522-1.1L9.7,17.992a2,2,0,0,0-.039,2.992L12.479,23.6A1.5,1.5,0,0,0,15,22.5V21.012h4.7a4.292,4.292,0,0,0,3.657-6.55ZM8.1,8.381A2.008,2.008,0,0,0,5.744,6.79l-3.906.769a1.5,1.5,0,0,0-.556,2.711l1.38.942L.648,14.462a4.231,4.231,0,0,0-.1,4.342,4.253,4.253,0,0,0,3.773,2.208L5.515,21a1.5,1.5,0,0,0-.03-3L4.3,18.012A1.292,1.292,0,0,1,3.2,16.042l1.944-3.136,1.372.937a1.5,1.5,0,0,0,2.32-1.514Z"
            />
          </svg>
        </div>
        <!-- Título centrado -->
        <h6
          class="antialiased tracking-normal font-sans text-lg font-semibold leading-relaxed text-black text-center"
        >
          Reciclajes Guadiana S.A de C.V
        </h6>
      </div>
    </div>

    <form method="post" #f="ngForm" novalidate (ngSubmit)="validate(f)">
      <div class="mb-6">
        <label for="email" class="block mb-2 text-sm text-gray-600"
          >Usuario</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
          required
          [(ngModel)]="loginData.email"
          placeholder="Ingrese un correo electrónico valido"
        />
      </div>
      <div class="mb-6">
        <label for="password" class="block mb-2 text-sm text-gray-600"
          >Contraseña</label
        >
        <input
          type="password"
          id="password"
          name="password"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
          required
          [(ngModel)]="loginData.password"
          placeholder="Ingrese su Contraseña"
        />
      </div>
      <button
        type="submit"
        class="w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mt-4 mb-6"
      >
        Acceso
      </button>
    </form>
  </div>
</div>
