<div class="container mx-auto p-8">
  <!-- Tarjeta 0 -->
  <div
    class="min-w-[375px] md:min-w-[700px] xl:min-w-[800px] mt-3 grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-6"
  >
    <!-- Tarjeta 1 -->
    <div
      class="relative flex flex-grow !flex-row flex-col items-center rounded-[10px] rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] dark:border-[#ffffff33] dark:!bg-navy-800 dark:text-white dark:shadow-none mb-5"
    >
      <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
        <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
          <span class="flex items-center text-brand-500 dark:text-white">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              class="h-6 w-6"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M298.39 248a4 4 0 002.86-6.8l-78.4-79.72a4 4 0 00-6.85 2.81V236a12 12 0 0012 12z"
              ></path>
              <path
                d="M197 267a43.67 43.67 0 01-13-31v-92h-72a64.19 64.19 0 00-64 64v224a64 64 0 0064 64h144a64 64 0 0064-64V280h-92a43.61 43.61 0 01-31-13zm175-147h70.39a4 4 0 002.86-6.8l-78.4-79.72a4 4 0 00-6.85 2.81V108a12 12 0 0012 12z"
              ></path>
              <path
                d="M372 152a44.34 44.34 0 01-44-44V16H220a60.07 60.07 0 00-60 60v36h42.12A40.81 40.81 0 01231 124.14l109.16 111a41.11 41.11 0 0111.83 29V400h53.05c32.51 0 58.95-26.92 58.95-60V152z"
              ></path>
            </svg>
          </span>
        </div>
      </div>
      <div class="h-50 ml-4 flex w-auto flex-col justify-center">
        <p class="font-dm text-sm font-medium text-gray-600">Material Ganado</p>
        <h4 class="text-xl font-bold text-navy-700 dark:text-white">$642.39</h4>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div
      class="relative flex flex-grow !flex-row flex-col items-center rounded-[10px] rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] dark:border-[#ffffff33] dark:!bg-navy-800 dark:text-white dark:shadow-none mb-5"
    >
      <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
        <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
          <span class="flex items-center text-brand-500 dark:text-white">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              class="h-6 w-6"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"
              ></path>
            </svg>
          </span>
        </div>
      </div>
      <div class="h-50 ml-4 flex w-auto flex-col justify-center">
        <p class="font-dm text-sm font-medium text-gray-600">
          Nuevos Proveedores Asignados
        </p>
        <h4 class="text-xl font-bold text-navy-700 dark:text-white">$1,000</h4>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div
      class="relative flex flex-grow !flex-row flex-col items-center rounded-[10px] rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] dark:border-[#ffffff33] dark:!bg-navy-800 dark:text-white dark:shadow-none mb-5"
    >
      <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
        <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
          <span class="flex items-center text-brand-500 dark:text-white">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              class="h-7 w-7"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
            </svg>
          </span>
        </div>
      </div>
      <div class="h-50 ml-4 flex w-auto flex-col justify-center">
        <p class="font-dm text-sm font-medium text-gray-600">
          Ganancia de la Venta de Material
        </p>
        <h4 class="text-xl font-bold text-navy-700 dark:text-white">145</h4>
      </div>
    </div>
  </div>

  <div class="bg-white border border-gray-200 rounded-lg shadow-md p-6 mb-6">
    <!-- Contenedor para drop down bottom -->
    <div class="flex flex-col items-end gap-4 mb-6">
      <div class="relative w-64" data-hs-combo-box="">
        <!-- Input -->
        <button
          class="py-3 px-4 w-full border-2 border-blue-500 rounded-lg text-sm bg-white text-gray-700 hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 flex justify-between items-center"
          type="button"
          aria-expanded="false"
          data-hs-combo-box-toggle=""
        >
          Seleccionar Fecha
          <svg
            class="shrink-0 size-3.5 text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m7 15 5 5 5-5"></path>
            <path d="m7 9 5-5 5 5"></path>
          </svg>
        </button>

        <!-- Opciones -->
        <div
          class="absolute z-50 w-full max-h-72 mt-2 p-2 bg-white border border-gray-300 rounded-lg shadow-lg overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 hidden"
          data-hs-combo-box-output=""
        >
          <!-- Lista de opciones -->
          <ul class="space-y-2">
            <li>
              <button
                class="block w-full text-left py-2 px-4 rounded-lg hover:bg-blue-50 focus:outline-none focus:bg-blue-100"
                type="button"
              >
                2024
              </button>
            </li>
            <li>
              <button
                class="block w-full text-left py-2 px-4 rounded-lg hover:bg-blue-50 focus:outline-none focus:bg-blue-100"
                type="button"
              >
                2023
              </button>
            </li>
            <li>
              <button
                class="block w-full text-left py-2 px-4 rounded-lg hover:bg-blue-50 focus:outline-none focus:bg-blue-100"
                type="button"
              >
                2022
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Sección de gráficas -->
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-6 mb-12">
      <!-- Gráfica 1 -->
      <div
        class="bg-white rounded-lg shadow dark:bg-gray-800 p-8 flex flex-col justify-center transition-transform duration-200 transform hover:scale-105 origin-center hover:z-10"
      >
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-gray-50 mb-4">
          Gráfica de 1
        </h3>
        <div class="flex justify-center items-center w-full h-full">
          <apx-chart
            class="w-full h-full"
            [colors]="chartOptions?.colors"
            [series]="series"
            [chart]="chartOptions?.chart"
            [xaxis]="chartOptions?.xaxis"
            [dataLabels]="chartOptions?.dataLabels"
          ></apx-chart>
        </div>
      </div>
      <!-- Gráfica 1 -->
      <div
        class="bg-white rounded-lg shadow dark:bg-gray-800 p-8 flex flex-col justify-center transition-transform duration-200 transform hover:scale-105 origin-center hover:z-10"
      >
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-gray-50 mb-4">
          Gráfica de 1
        </h3>
        <div class="flex justify-center items-center w-full h-full">
          <apx-chart
            class="w-full h-full"
            [colors]="chartOptions?.colors"
            [series]="series"
            [chart]="chartOptions?.chart"
            [xaxis]="chartOptions?.xaxis"
            [dataLabels]="chartOptions?.dataLabels"
          ></apx-chart>
        </div>
      </div>
    </div>

    <!-- Tabla de Reportes -->
    <div
      class="relative flex flex-col rounded-xl bg-white text-gray-700 shadow-xl overflow-hidden w-full"
    >
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div
          class="overflow-y-auto max-h-96 w-full"
          style="max-height: calc(3rem * 12 + 2.5rem)"
        >
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto border-collapse border border-gray-300"
          >
            <!-- Encabezado de la tabla -->
            <thead class="sticky top-0 z-10 bg-gray-200 dark:bg-gray-800">
              <tr
                class="text-sm font-bold tracking-wide text-gray-600 uppercase dark:text-gray-400"
              >
                <th scope="col" class="px-4 py-3 border border-gray-300">
                  Proveedor
                </th>
                <th scope="col" class="px-4 py-3 border border-gray-300">
                  Enero
                </th>
                <th scope="col" class="px-4 py-3 border border-gray-300">
                  Febrero
                </th>
                <th scope="col" class="px-4 py-3 border border-gray-300">
                  Marzo
                </th>
                <th scope="col" class="px-4 py-3 border border-gray-300">
                  Abril
                </th>
                <th scope="col" class="px-4 py-3 border border-gray-300">
                  Mayo
                </th>
                <th scope="col" class="px-4 py-3 border border-gray-300">
                  Junio
                </th>
                <th scope="col" class="px-4 py-3 border border-gray-300">
                  Merma Generada
                </th>
                <th scope="col" class="px-4 py-3 border border-gray-300">
                  Material Total
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-300 dark:divide-gray-700">
              <tr
                class="hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors"
              >
                <td
                  class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300 font-medium"
                >
                  Proveedor A
                </td>
                <td
                  class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
                >
                  1,000,000
                </td>
                <td
                  class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
                >
                  1,050,000
                </td>
                <td
                  class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
                >
                  1,020,000
                </td>
                <td
                  class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
                >
                  1,040,000
                </td>
                <td
                  class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
                >
                  1,400,000
                </td>
                <td
                  class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
                >
                  15,000
                </td>
                <td
                  class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
                >
                  20,000
                </td>
                <td
                  class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
                >
                  15,000
                </td>
              </tr>
              <!-- Agregar más filas aquí -->
            </tbody>
            <tfoot>
              <tr
                class="bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-800 dark:text-gray-200 cursor-pointer transition-transform duration-200 transform hover:scale-102 origin-center hover:z-10"
              >
                <th
                  scope="row"
                  class="px-4 py-3 font-semibold text-gray-900 dark:text-white border border-gray-300"
                >
                  Total
                </th>
                <td class="px-4 py-3 border border-gray-300"></td>
                <td class="px-4 py-3 border border-gray-300"></td>
                <td class="px-4 py-3 border border-gray-300"></td>
                <td class="px-4 py-3 border border-gray-300"></td>
                <td class="px-4 py-3 border border-gray-300"></td>
                <td class="px-4 py-3 border border-gray-300"></td>
                <td class="px-4 py-3 border border-gray-300">40,000</td>
                <td class="px-4 py-3 border border-gray-300">100,000</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
