<div class="container mx-auto px-8 mb-4 grid grid-cols-1 xl:grid-cols-2 gap-6">
  <!-- Contenedor de información de contacto -->
  <div
    class="bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 flex flex-col justify-center transition-transform duration-200 transform hover:scale-105 origin-center hover:z-10 w-full"
  >
    <div class="flex flex-wrap items-center justify-between">
      <div class="w-full md:w-3/4 flex flex-col justify-center">
        <!-- Top proveedores más activos -->
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-gray-50 mb-4">
          Top Proveedores Más Activos
        </h3>
        <ul class="space-y-4">
          <!-- Proveedor 1 -->
          <li class="flex items-center justify-between">
            <div>
              <p class="text-lg font-medium text-gray-700 dark:text-gray-200">
                Proveedor 1
              </p>
              <p class="text-sm text-gray-500 dark:text-gray-400">
                Material: Plástico
              </p>
            </div>
            <span class="text-blue-500 font-bold text-lg">45%</span>
          </li>
          <!-- Proveedor 2 -->
          <li class="flex items-center justify-between">
            <div>
              <p class="text-lg font-medium text-gray-700 dark:text-gray-200">
                Proveedor 2
              </p>
              <p class="text-sm text-gray-500 dark:text-gray-400">
                Material: Vidrio
              </p>
            </div>
            <span class="text-green-500 font-bold text-lg">35%</span>
          </li>
          <!-- Proveedor 3 -->
          <li class="flex items-center justify-between">
            <div>
              <p class="text-lg font-medium text-gray-700 dark:text-gray-200">
                Proveedor 3
              </p>
              <p class="text-sm text-gray-500 dark:text-gray-400">
                Material: Cartón
              </p>
            </div>
            <span class="text-red-500 font-bold text-lg">20%</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Contenedor de gráfica -->
  <div
    class="bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 flex flex-col justify-center min-h-[300px] transition-transform duration-200 transform hover:scale-105 origin-center hover:z-10 w-full"
  >
    <div class="flex justify-center items-center w-full h-full">
      <apx-chart
        class="w-full h-full"
        [colors]="chartOptions?.colors"
        [series]="series"
        [chart]="chartOptions?.chart"
        [xaxis]="chartOptions?.xaxis"
        [dataLabels]="chartOptions?.dataLabels"
      ></apx-chart>
    </div>
  </div>
</div>

<div class="mt-8 mx-8">
  <!-- Filtros -->
  <div class="flex flex-col sm:flex-row gap-4 items-start p-4 justify-end">
    <div class="relative">
      <input
        id="box-filter"
        type="text"
        placeholder="Sin filtro"
        class="block w-full py-2.5 px-4 border-2 border-gray-300 rounded-md text-sm bg-white text-gray-700 shadow-sm focus:ring-blue-500 focus:border-blue-500"
      />
      <div
        class="absolute z-50 w-full mt-1 p-2 bg-white border border-gray-300 rounded-lg shadow-lg max-h-72 overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300"
      >
        <ul class="space-y-2">
          <li>
            <button
              class="block w-full text-left py-2 px-4 rounded-lg hover:bg-blue-50 focus:outline-none focus:bg-blue-100"
              type="button"
            >
              Proveedor 1
            </button>
          </li>
          <li>
            <button
              class="block w-full text-left py-2 px-4 rounded-lg hover:bg-blue-50 focus:outline-none focus:bg-blue-100"
              type="button"
            >
              Proveedor 2
            </button>
          </li>
          <li>
            <button
              class="block w-full text-left py-2 px-4 rounded-lg hover:bg-blue-50 focus:outline-none focus:bg-blue-100"
              type="button"
            >
              Proveedor 3
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Tabla -->
  <div
    class="relative flex flex-col rounded-xl bg-white text-gray-700 shadow-xl overflow-hidden w-full"
  >
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <div
        class="overflow-y-auto max-h-96 w-full"
        style="max-height: calc(3rem * 12 + 2.5rem)"
      >
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto border-collapse border border-gray-300"
        >
          <!-- Encabezado de la tabla -->
          <thead class="sticky top-0 z-10 bg-gray-200 dark:bg-gray-800">
            <tr
              class="text-sm font-bold tracking-wide text-gray-600 uppercase dark:text-gray-400"
            >
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Nombre de Empresa
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Licencia Ambiental
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Domicilio
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Teléfono
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Correo Electrónico
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Editar
              </th>
              <th scope="col" class="px-4 py-3 border border-gray-300">
                Eliminar
              </th>
            </tr>
          </thead>
          <!-- Cuerpo de la tabla -->
          <tbody class="divide-y divide-gray-300 dark:divide-gray-700">
            <!-- Fila de ejemplo -->
            <tr
              class="hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors"
            >
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300 font-medium"
              >
                Empresa A
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                LA-12345
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                Av. Principal 123, Ciudad
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                +1 (555) 123-4567
              </td>
              <td
                class="px-4 py-3 text-gray-800 dark:text-gray-200 border border-gray-300"
              >
                contactoempresa.com
              </td>
              <td class="px-4 py-3 text-center border border-gray-300">
                <tbody
                  class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-900"
                >
                  <!-- Fila 1 -->
                  <tr
                    *ngFor="let provider of providers"
                    class="bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-800 dark:text-gray-200 cursor-pointer transition-transform duration-200 transform hover:scale-102 origin-center hover:z-10"
                  >
                    <th
                      scope="row"
                      class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap dark:text-white"
                    >
                      {{ provider.nombre }}
                    </th>
                    <td class="px-6 py-4">
                      {{ provider.No_Licencia_ambiental }}
                    </td>
                    <td class="px-6 py-4">{{ provider.domicilio }}</td>
                    <td class="px-6 py-4">{{ provider.telefono }}</td>
                    <td class="px-6 py-4">{{ provider.email }}</td>
                    <td class="px-6 py-4">
                      <button
                        class="w-full px-3 py-1.5 text-sm font-semibold text-blue-700 bg-blue-100 rounded hover:bg-blue-200 dark:bg-blue-700 dark:text-blue-100 dark:hover:bg-blue-600"
                      >
                        Editar
                      </button>
                    </td>
                    <td class="px-4 py-3 text-center border border-gray-300">
                      <button
                        class="w-full px-3 py-1.5 text-sm font-semibold text-red-700 bg-red-100 rounded hover:bg-red-200 dark:bg-red-700 dark:text-red-100 dark:hover:bg-red-600"
                      >
                        <td class="px-6 py-4">
                          <button
                            (click)="deleteProvedor(provider.id_provedor)"
                            class="w-full px-4 py-2 text-sm font-semibold text-red-700 bg-red-100 rounded-lg hover:bg-red-200 dark:bg-red-700 dark:text-red-100 dark:hover:bg-red-600"
                          >
                            Eliminar
                          </button>
                        </td>

                        <!-- Agregar más filas aquí -->

                        <!-- Botones debajo de la tabla -->
                        <div
                          class="flex flex-wrap items-center justify-between mt-4"
                        >
                          <div></div>
                          <div>
                            <button
                              class="px-4 py-2 text-sm font-semibold text-white bg-blue-600 rounded-lg hover:bg-blue-500"
                              data-modal-target="reportes-modal"
                              data-modal-toggle="reportes-modal"
                            >
                              Crear nuevo registro
                            </button>
                          </div>
                        </div>

                        <!--Modal Tabla de Reportes-->
                        <div
                          id="reportes-modal"
                          tabindex="-1"
                          aria-hidden="true"
                          class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
                        >
                          <div class="relative p-4 w-full max-w-xl max-h-full">
                            <!-- Modal content -->
                            <div
                              class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                            >
                              <!-- Modal header -->
                              <div
                                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
                              >
                                <h3
                                  class="text-lg font-semibold text-gray-900 dark:text-white"
                                >
                                  Registrar Información de Empresa
                                </h3>
                                <button
                                  type="button"
                                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                  data-modal-toggle="reportes-modal"
                                >
                                  <svg
                                    class="w-3 h-3"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 14 14"
                                  >
                                    <path
                                      stroke="currentColor"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                                    />
                                  </svg>
                                  <span class="sr-only">Close modal</span>
                                </button>
                              </div>

                              <!-- Modal body -->
                              <form class="p-4 md:p-5">
                                <div class="grid gap-4 mb-4 grid-cols-2">
                                  <!-- Nombre de la empresa -->
                                  <div class="col-span-2">
                                    <label
                                      for="nombre-empresa"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Nombre de la Empresa</label
                                    >
                                    <input
                                      type="text"
                                      name="nombre-empresa"
                                      id="nombre-empresa"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="Ingresa el nombre de la empresa"
                                      required
                                    />
                                  </div>

                                  <!-- Licencia ambiental -->
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="licencia-ambiental"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Licencia Ambiental</label
                                    >
                                    <select
                                      id="licencia-ambiental"
                                      name="licenciaAmbiental"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      required
                                    >
                                      <option value="" selected>
                                        Selecciona el estado
                                      </option>
                                      <option value="En trámite">
                                        En trámite
                                      </option>
                                      <option value="Registrada">
                                        Registrada
                                      </option>
                                    </select>
                                  </div>
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="numero-licencia"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Número de Licencia</label
                                    >
                                    <input
                                      type="text"
                                      name="numero-licencia"
                                      id="numero-licencia"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="Ingresa el número de licencia"
                                    />
                                  </div>

                                  <!-- Domicilio -->
                                  <div class="col-span-2">
                                    <label
                                      for="domicilio"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Domicilio</label
                                    >
                                    <input
                                      type="text"
                                      name="domicilio"
                                      id="domicilio"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="Ingresa el domicilio completo"
                                      required
                                    />
                                  </div>

                                  <!-- Teléfono -->
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="telefono"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Teléfono</label
                                    >
                                    <input
                                      type="tel"
                                      name="telefono"
                                      id="telefono"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="Ingresa el teléfono"
                                      required
                                    />
                                  </div>

                                  <!-- Correo electrónico -->
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="correo"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Correo Electrónico</label
                                    >
                                    <input
                                      type="email"
                                      name="correo"
                                      id="correo"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="Ingresa el correo electrónico"
                                      required
                                    />
                                  </div>
                                </div>

                                <!-- Botones de acción -->
                                <div class="flex justify-end gap-4 mt-4">
                                  <button
                                    type="submit"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                  >
                                    Guardar
                                  </button>
                                  <button
                                    type="button"
                                    class="text-gray-700 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-500 dark:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-700"
                                    data-modal-toggle="empresa-modal"
                                  >
                                    Descartar
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                        <!-- Modal Tabla filtros-->
                        <div
                          id="filtrar-reportes-modal"
                          tabindex="-1"
                          aria-hidden="true"
                          class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
                        >
                          <div class="relative p-4 w-full max-w-xl max-h-full">
                            <!-- Modal content -->
                            <div
                              class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                            >
                              <!-- Modal header -->
                              <div
                                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
                              >
                                <h3
                                  class="text-lg font-semibold text-gray-900 dark:text-white"
                                >
                                  Modificar Reporte
                                </h3>
                                <button
                                  type="button"
                                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                  data-modal-toggle="filtrar-reportes-modal"
                                >
                                  <svg
                                    class="w-3 h-3"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 14 14"
                                  >
                                    <path
                                      stroke="currentColor"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                                    />
                                  </svg>
                                  <span class="sr-only">Close modal</span>
                                </button>
                              </div>
                              <!-- Modal body -->
                              <form class="p-4 md:p-5">
                                <div class="grid gap-4 mb-4 grid-cols-2">
                                  <!-- Empresa (select box) -->
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="empresa"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Empresa</label
                                    >
                                    <select
                                      id="empresa"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      required
                                    >
                                      <option value="" selected>
                                        Selecciona la empresa
                                      </option>
                                      <option value="Empresa A">
                                        Empresa A
                                      </option>
                                      <option value="Empresa B">
                                        Empresa B
                                      </option>
                                      <option value="Empresa C">
                                        Empresa C
                                      </option>
                                    </select>
                                  </div>

                                  <!-- Tipo de Material -->
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="tipo-material"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Tipo de Material</label
                                    >
                                    <select
                                      id="tipo-material"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      required
                                    >
                                      <option value="" selected>
                                        Selecciona el tipo de material
                                      </option>
                                      <option value="Cartón">Cartón</option>
                                      <option value="Metal">Metal</option>
                                      <option value="Vidrio">Vidrio</option>
                                      <option value="Papel">Papel</option>
                                      <option value="Otro">Otro</option>
                                    </select>
                                  </div>

                                  <!-- Fecha -->
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="fecha"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Fecha</label
                                    >

                                    <div class="relative max-w-sm">
                                      <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                                      >
                                        <svg
                                          class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                          aria-hidden="true"
                                          xmlns="http://www.w3.org/2000/svg"
                                          fill="currentColor"
                                          viewBox="0 0 20 20"
                                        >
                                          <path
                                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                                          />
                                        </svg>
                                      </div>
                                      <input
                                        id="datepicker-format"
                                        datepicker
                                        datepicker-format="mm-dd-yyyy"
                                        type="text"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Select date"
                                      />
                                    </div>
                                  </div>

                                  <!-- Kilos entregados -->
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="kilos-entregados"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Kilos Entregados</label
                                    >
                                    <input
                                      type="number"
                                      name="kilos-entregados"
                                      id="kilos-entregados"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="Número de kilos entregados"
                                      required
                                    />
                                  </div>

                                  <!-- Kilos de merma -->
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="kilos-merma"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Kilos de Merma</label
                                    >
                                    <input
                                      type="number"
                                      name="kilos-merma"
                                      id="kilos-merma"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="Número de kilos de merma"
                                      required
                                    />
                                  </div>

                                  <!-- Kilos finales -->
                                  <div class="col-span-2 sm:col-span-1">
                                    <label
                                      for="kilos-finales"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >Kilos Finales</label
                                    >
                                    <input
                                      type="number"
                                      name="kilos-finales"
                                      id="kilos-finales"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="Número de kilos total"
                                      required
                                    />
                                  </div>
                                </div>

                                <!-- Botones de acción -->
                                <div class="flex justify-end gap-4 mt-4">
                                  <!-- Botón guardar -->
                                  <button
                                    type="submit"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                  >
                                    Guardar
                                  </button>

                                  <!-- Botón descartar -->
                                  <button
                                    type="button"
                                    class="text-gray-700 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-500 dark:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-700"
                                    data-modal-toggle="crear/modificar-reportes-modal"
                                  >
                                    Descartar
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
